<ion-header>
  <ion-toolbar>
    <ion-title>page2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p>This is page 2</p>
<ion-button [routerLink]="['/home']">nav home</ion-button>
<ion-button [routerLink]="['/page1']">nav page 1</ion-button>
<ion-button [routerLink]="['/page2']">nav page 2</ion-button>
<ion-button [routerLink]="['/page3']">nav page 3</ion-button>
<ion-button (click)="navBack()">nav back</ion-button>
<ion-button (click)="navForward()">nav forward</ion-button>
</ion-content>
